{% extends "base.html" %}

{% block main_content %}
<div class="container-lg mt-3">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
            <h1 class="display-3">Анализатор страниц</h1>
            <p class="lead">Бесплатно проверяйте сайты на SEO-пригодность</p>
            <form method="POST" action="/urls" class="d-flex flex-wrap justify-content-center">
                {{ form.csrf_token }}
                {{ form.url.label }}
                {{ form.url }}
                <input type="submit" class="btn btn-primary btn-lg ms-3 px-5 text-uppercase mx-3" value="Проверить">

                {% if form.url.errors %}
                <ul class="errors">
                    {% for error in form.url.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

            </form>
        </div>
    </div>
</div>
{% endblock %}